:root {
  --primary-text-color: #2e2f42;
  --primary-background-color: #ffffff;
  --hover: #404bbf;
  --focus: #404bbf;
  --hover-footer: #31d0aa;
  --logo-web: #4d5ae5;
  --heder-list-contacts: #434455;
  --background-footer: #2e2f42;
  --footer-color: #e7e9fc;
  --footer-studio: #f4f4fd;
  --icon-color: #8e8f99;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
}
-------------
/* Header */
-------------
.page-header {
  text-decoration: none;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid red;
  border: 1px solid #e7e9fc;
}

.container {
  /*  МОБАЙЛ   */
  min-width: 320px;
  max-width: 428px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}
/* ПЛАНШЕТ */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* ДЕСКТОП */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.buttton {
  margin-bottom: 72px;
}
.text-foto {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.team-footer {
  text-align: start;
}
.container-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (max-width: 1157px) {
  /* ДЛЯ ПЛАНШЕТУ */
  .container-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* ДЛЯ МОБІЛЬНИХ */
  .container-header {
    padding-bottom: 22px;
    padding-top: 24px;
  }
}
.header-nav {
  align-items: center;
  display: flex;
}
.page-header-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: calc(24 / 18);
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
  /* ДЛЯ МОБІЛЬНИХ */
  .page-header-link {
    margin-right: auto;
  }
}

.header-logo-web {
  color: var(--logo-web);
}

.header-list {
  text-decoration: none;
  display: flex;
  margin-left: 76px;
}
@media only screen and (max-width: 767px) {
  /* ДЛЯ МОБІЛЬНИХ */
  .header-list {
    display: none;
  }
}
@media only screen and (max-width: 1157px) {
  /* ПЛАНШЕТ */
  .header-list {
    margin-left: 120px;
  }
}
.header-list :hover {
  color: var(--hover);
}
.header-list :focus {
  color: var(--focus);
}
.header-list-item {
  margin-right: 40px;
}
.header-list-item:last-child {
  margin-right: 0;
}
.element::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--hover);
  border-radius: 2px;
  display: block;
  position: relative;
  top: 25px;
}

.header-list-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text-color);
  line-height: calc(24 / 16);
  position: relative;
  transition: color var(--transition-dur-func);
}
.header-address {
  font-size: 16px;
  margin-left: auto;
}

.header-address :hover {
  color: var(--hover);
}
.header-address :focus {
  color: var(--focus);
}
.list-address {
  display: flex;
}
@media only screen and (max-width: 1157px) {
  /* ПЛАНШЕТ*/
  .list-address {
    display: flow-root;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.list-address-item {
  margin-right: 40px;
}
@media only screen and (max-width: 767px) {
  /* ДЛЯ МОБІЛЬНИХ */
  .list-address-item {
    display: none;
  }
}
@media only screen and (max-width: 1157px) {
  /* ДЛЯ ПЛАНШЕТ*/
  .list-address-item {
    margin-right: 0;
    gap: 12px;
  }
}
.list-address-item:last-child {
  margin-right: 0;
}
.list-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  color: var(--heder-list-contacts);
  align-items: center;
  gap: 40px;
  line-height: calc(24 / 16);
  transition: color var(--transition-dur-func);
}
/* Main Content */
.content-main {
  font-size: 20px;
  line-height: calc(24 / 20);
}
.section-main {
  padding-top: 96px;
  padding-bottom: 120px;
  color: var(--logo-web);
}
.main-list {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.botton-main:hover {
  color: var(--primary-background-color);
  background: var(--hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.botton-main:focus {
  color: var(--primary-background-color);
  background: var(--focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.botton-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  background: var(--footer-studio);
  border-radius: 4px;
  color: var(--logo-web);
  background: var(--footer-studio);
  border: 1px solid var(--footer-color);
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);
  border: none;
  padding: 12px 24px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.botton-main:last-child {
  margin-right: 0;
}
.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
/* INFO Overlay */
.info-top-wrap {
  position: relative;
  overflow: hidden;
}
.info-cover-text {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--footer-studio);
  background-color: var(--logo-web);
  padding-top: 40px;
  padding-left: 32px;
  padding-bottom: 164px;
  padding-right: 32px;
  height: 100%;
  top: 0;
  transform: translatey(100%);
  transition: transform 300ms linear;
}
.image:hover .info-cover-text {
  transform: translatey(0);
}
.info-link:focus .info-cover-text {
  transform: translatey(0);
}
.image {
  transition: box-shadow var(--transition-dur-func);
}
.image-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: var(--background-footer);
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: start;
}
/* Our Team */
.image-title-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  justify-content: flex-start;
  line-height: calc(24 / 20);
  text-align: center;
  align-content: center;
  color: var(--background-footer);
}
.image-text-team {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: calc(24 / 16);
  color: var(--heder-list-contacts);
}
.card-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
/* SOC CARDS */
.svg-icons {
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--footer-studio);
}
@media only screen and (max-width: 428px) {
  .svg-icons {
    display: none;
  }
}
.soc-card-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.soc-card-item {
  width: 40px;
  height: 40px;
}
.soc-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: var(--primary-background-color);
  margin-left: 0;
  line-height: calc(24 / 16);
}
.soc-card-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-web);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-dur-func);
}
.soc-card-icons {
  fill: var(--primary-background-color);
}
.soc-card-link:hover {
  background-color: var(--hover);
}
.soc-card-link:focus {
  background-color: var(--focus);
}

.image-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--heder-list-contacts);
  text-align: start;
  margin-top: 8px;
}
.image {
  width: 360px;
  border: 1px solid var(--footer-color);
  background: var(--primary-background-color);
}
.image:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.customers {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
  border-radius: 4px;
}
.customers-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  fill: var(--icon-color);
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 32px;
  padding-right: 32px;
}
.customers-list-link:hover {
  fill: var(--hover);
  border: 1px solid #404bbf;
}
.customers-list-link:focus {
  fill: var(--focus);
  border: 1px solid #404bbf;
}
/* Footer */
.page-footer {
  color: var(--footer-color);
  background: var(--background-footer);
  padding: 120px 0;
}
.foot-container {
  display: flex;
}
.logo-container {
  justify-content: center;
}
.container-cards {
  margin-left: 120px;
}
.footer-web {
  color: var(--logo-web);
}
.page-footer-link {
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--footer-studio);
  line-height: calc(21 / 18);
}
.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--footer-color);
  width: 264px;
  margin-top: 17.5px;
}
/* FOOTER-SOC-CARDS */
.soc-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-background-color);
  line-height: calc(24 / 16);
  justify-content: flex-start;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-func);
}
.footer-soc-link:hover {
  background-color: var(--hover-footer);
}
.footer-soc-link:focus {
  background-color: var(--hover-footer);
}

/* ----------------------------------------Studio - Main content------------------------------- */
.section-main-studio {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 600px;
  color: var(--primary-background-color);
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  justify-content: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}
.section-studio {
  justify-content: flex-start;
  padding-top: 120px;
  padding-bottom: 120px;
}
.main-studio-title {
  font-weight: 700;
  text-align: center;
  justify-content: center;
  font-size: 56px;
  max-width: 496px;
  line-height: calc(60 / 56);
  color: var(--primary-background-color);
  margin: auto;
  margin-bottom: 48px;
}

.botton-main-studio:hover {
  color: var(--primary-background-color);
  background: var(--hover);
}
.botton-main-studio:focus {
  color: var(--primary-background-color);
  background: var(--hover);
}
.botton-main-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  color: var(--primary-background-color);
  background: var(--logo-web);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  margin: 0 auto;
  transition: background var(--transition-dur-func);
}
/* Information */

.studio-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--heder-list-contacts);
  justify-content: flex-start;
  width: 264px;
  margin-top: 8px;
}
.studio-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  justify-content: flex-start;
  line-height: calc(24 / 20);
  color: var(--primary-text-color);
}
.studio-title-doing {
  text-align: center;
  margin-bottom: 72px;
}
/* Висота Контейнерів */

.section-studio-work {
  display: flex;
  padding-bottom: 120px;
}
/* ТЕЛЕФОН І ПЛАНШЕТ */
@media only screen and (max-width: 1157px) {
  .section-studio-work {
    display: none;
  }
}
.section-studio-image {
  border-radius: 0px 0px 4px 4px;
  background: var(--footer-studio);
  padding-top: 120px;
  padding-bottom: 100px;
}
.section-studio-list {
  gap: 24px;
  max-width: 264px;
}
@media only screen and (max-width: 767px) {
  .section-studio-list {
    max-width: 0px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-studio-list {
    display: flex;
  }
}
/* SECTION STUDIO ICONS */
.section-studio-icons {
  border-radius: 4px;
  background: var(--footer-studio);
}
.icons-item {
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .icons-item {
  }
}
.section-image-list:last-child {
  margin-right: 0;
}
.studio-image-list {
  display: flex;
}
.studio-image-title {
  text-align: center;
  justify-content: center;
  margin-top: 120px;
}
.studio-title-ourteam {
  text-align: center;
  margin-bottom: 72px;
}
.studio-image {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-background-color);
  margin-right: 24px;
  width: 264px;
  height: 428px;
}
.studio-image:last-child {
  margin-right: 0;
}
.image-studio {
  gap: 24px;
  display: flex;
}
/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.445);
  transition: opasity 300ms linear, visibility 300ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: var(--focus);
}
.modal-close:focus {
  background-color: var(--focus);
}
.modal-close:hover .icon-close {
  fill: var(--primary-background-color);
}
.modal-close:focus .icon-close {
  fill: var(--primary-background-color);
}
.icon-close {
  width: 8px;
  height: 8px;
  fill: var(--background-footer);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
/* Оформлення мод вікна */
.title-modal {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  top: 72px;
  line-height: calc(24 / 16);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 45px;
  margin-top: 4px;
  color: var(--heder-list-contacts);
  outline: transparent;
}
.modal-input:focus {
  border: 1px solid var(--logo-web);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--logo-web);
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 19px;
  top: 75%;
  transform: translatey(-75%);
}
.modal-label {
  display: block;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--icon-color);
}
.comment {
  margin-bottom: 16px;
}
.text-comment {
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  resize: none;
}
.text-comment:focus {
  outline: none;
  border: 1px solid var(--logo-web);
}
.accept {
  width: 338px;
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--icon-color);
  line-height: calc(14 / 12);
  margin-left: 8px;
}
.privacy-policy {
  text-decoration: underline;
  color: var(--logo-web);
  margin-left: 5px;
}

.modal-check {
  appearance: none;
  display: flex;
  align-items: center;
}
.check-text {
  display: flex;
  font-style: normal;
  color: var(--icon-color);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: calc(14 / 12);
  align-items: end;
}
.check-text::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #8e8f99;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text::before {
  background-color: var(--focus);
  border: none;
  background-image: url(../images/check1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.button-send {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: block;
  cursor: pointer;
  width: 169px;
  height: 56px;
  color: var(--primary-background-color);
  background-color: var(--logo-web);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
}
.button-send:hover {
  background-color: var(--focus);
}
.button-send:focus {
  background-color: var(--focus);
}
/* Footer Form */
.form-container {
  margin-left: auto;
}
.subscribe-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--primary-background-color);
}
.container-input {
  display: flex;
}
.footer-imput-email {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0 16px 0 16px;
  height: 40px;
  width: 264px;
  background-color: transparent;
  outline: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit {
  display: flex;
  padding: 8px 24px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  margin-left: 24px;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit:hover {
  background: var(--hover);
}
.footer-submit:focus {
  background: var(--hover);
}
.button-icon {
  align-items: center;
  margin-left: 16px;
}
------------------
/*МОБІЛЬНЕ МЕНЮ МОДАЛЬНЕ ВІКНО  */
------------------
.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: none;

  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle-icon {
  stroke: var(--background-footer);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-right: auto;
  padding-left: 40px;
  padding-bottom: 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: var(--primary-background-color);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .mobile-menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}
.menu-toggle-burger {
  border: none;
  background: transparent;
}

.burger-icon {
  border: none;
  stroke: var(--background-footer);
}
.mobile-icon-close {
  width: 8px;
  height: 8px;
  fill: var(--background-footer);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}
.mobile-menu-list {
  padding-top: 80px;
  padding-left: 40px;
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.mobile-soc-list {
  justify-content: ;
  display: flex;
  gap: 56px;
}
.mobile-soc-item {
  width: 40px;
  height: 40px;
}
.mobile-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-web);
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts-item {
  margin-bottom: 40px;
}

.mobile-list-item {
  margin-bottom: 40px;
  margin-top: 80px;
}
.mobile-list-item:last-child {
  margin-bottom: 0;
}
.mobile-list-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--background-footer);
}
.studio {
  color: var(--focus);
}
.mobile-contacts-mailto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--heder-list-contacts);
}
.mobile-contacts-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--logo-web);
}
